.btn {
  position: absolute;
  width: 150px;
  text-decoration: none;
  text-align: center;
  color: aliceblue;
  border-radius: 20px;
  font-size: 20px;
  margin: 30px;
  padding: 5px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3) 0%, transparent 60%), rgba(146, 89, 3, 0.6);
}

/* ! main ! */

main {
  position: relative;
  display: grid;
  grid-template-columns: 400px 520px 520px;
  grid-template-rows: 450px 400px 400px 400px;
  overflow: hidden;
}
main::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, #543a06, #97831e );
  z-index: 0;
}
main::after {
  content: "";
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 40%);
  inset: 0;
  z-index: 1;
}

/* ! main ! */

/* sidebar */

.sidebar {
  grid-column: 1;
  grid-row: 1/3;
  margin-right: 100px;
  border-bottom-right-radius: 50px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 40%), url(../images/paper.png) center/cover no-repeat;
  color: rgb(62, 26, 0);
  z-index: 2;
}
.sidebar h2 {
  text-align: center;
  font-size: 40px;
}
.sidebar ul {
  list-style: none;
  padding-left: 15px;
  margin: auto;
}
.sidebar span{
  font-size: 25px;
}

/* ! sidebar ! */

/* carousel */

.carousel-container {
  overflow: hidden;
  width: 350px; 
  margin: auto;
  z-index: 2;
}
.carousel {
  display: flex;
  transition: transform 0.5s ease;
}
.carousel img {
  width: 350px;
}
.carousel a {
  text-decoration: none;
}
.carousel p {
  font-size: 35px;
  color: aliceblue;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, transparent 60%), rgba(146, 89, 3, 0.9);
  font-weight: bolder;
  text-align: center;
  animation: hug 2s infinite;
}
@keyframes hug {
  0%,100% {transform: translateY(-45px);}
  50% {transform: translateY(-45px);}
}

/* ! carousel ! */

/* delivery */

.delivery {
  grid-column: 3;
  grid-row: 2/5;
  margin: 85px;
  margin-bottom: 170px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  text-align: center;
  background: url(../images/paper.png) center/cover no-repeat;
  color: rgb(62, 26, 0);
  z-index: 2;
}
.delivery h2 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4) 0%, transparent 60%), rgb(137, 97, 4);
  color: aliceblue;
  margin-top: auto;
  width: 400px;
  border-radius: 20px;
  justify-self: center;
  font-size: 40px;
}
.delivery div {
  display: flex;
  justify-content: end;
  padding-right: 45px;
}
.delivery ul {
  list-style: none;
  text-align: start;
  animation: leg 2s infinite;
}
.delivery li {
  font-size: 20px;
  padding: 3px;
}
.delivery span{
  font-size: 25px;
}

/* ! delivery ! */